# Phase 1 Project

* Student Name: Damaris Wanjiru
* Student Pace: Full Time
* Instructor Name: Lucille Kaleha
* Tableau Public:

# Project Overview
The main goal of this project is to conduct a comprehensive analysis of historical aviation incident data, with the purpose of identifying aircraft models that pose lower risk. This analysis will also provide detailed, actionable insights into the underlying factors that contribute to aviation incidents, such as technical failures, human errors, or environmental conditions. By thoroughly understanding these contributing factors, the company will be better equipped to make informed decisions on which aircraft to acquire. Additionally, these insights will help in developing targeted strategies and safety protocols to proactively minimize operational risks and enhance overall aviation safety in future once they acquire the aircraft

# Business Understanding
Our company wants to expand into the aviation sector by buying and operating aircraft for commercial and private use. However, we lack knowledge about the risks involved with aircraft. The task is to identify the types of aircraft that carry the least risk. Then, present the findings in a clear way to help the management of the new aviation division decide which aircraft to purchase.

# Problem Statement
The company faces challenges in selecting safe aircraft models due to a lack of clear insights from historical incident data. Without a thorough analysis of past incidents, including their causes and contributing factors, the company risks acquiring aircraft that may lead to safety issues. This uncertainty can hinder effective risk management and safety improvements. To enhance decision-making and operational safety, the company needs to identify the safest aircraft options and develop strategies to mitigate potential risks.

# Objectives
* Trend Analysis Investigate trends over the years
* Identify Safe Aircraft Models and make based on injuries and accidents rates across different aircraft models and make
* Assess the effects the weather conditions has on the rate of accidents
* Evaluate at what phase of the flight has higher rate of accidents and incident
* Determine the geographical locations where accidents are most frequently reported.
* Analyze the relationship between the number of engines on an aircraft and the incidence of accidents.

# Data Understanding and Analysis
Data The dataset we are using for this project is drawn from kaggle.com gotteen from National Transportation Safety Board. The aviation accident database provides information on civil aviation accidents and select incidents dating back to 1962 to 2023 encompassing the United States, its territories, and international waters.

## Data Preparation and 

* Load the data
* Data inspection 
* Check for duplicates and missing values
* Handling of missing values
* Fix any other error

## Importing the relevant libraries

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt    
%matplotlib inline

## Loading the data

In [2]:
# loading the data
AviationData = pd.read_csv(r"C:\Users\Damaris\Desktop\AviationData.csv", encoding='latin1',low_memory=False)
aviation_data = AviationData

In [3]:
# Display maximum number of columns
pd.set_option("display.max_columns",100)
aviation_data.head()        # Display the five rows of the dataset

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,Fatal(3),Destroyed,NaN,N5142R,Cessna,172M,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,6/19/1977,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,N1168J,Rockwell,112,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/9/2000
4,20041105X01764,Accident,CHI79FA064,8/2/1979,"Canton, OH",United States,NaN,NaN,NaN,NaN,Fatal(1),Destroyed,NaN,N15NY,Cessna,501,No,NaN,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
# Shape of the dataset shows the number of rows and columns
print(f"This dataset has {aviation_data.shape[0]} rows and {aviation_data.shape[1]} columns.")

This dataset has 88889 rows and 31 columns.

In [5]:
#Statistical summary for categorical columns
aviation_data.describe(include=object).T

                       count unique             top   freq
Event.Id               88889  84468     2.02207E+13    190
Investigation.Type     88889      2        Accident  85015
Accident.Number        88889  88863      ERA22LA103      2
Event.Date             88889  14782       5/16/1982     25
Location               88837  27758   ANCHORAGE, AK    434
Country                88663    219   United States  82248
Latitude               34382  25589         332739N     19
Longitude              34373  27154        0112457W     24
Airport.Code           50132  10356            NONE   1488
Airport.Name           52704  24869         Private    240
Injury.Severity        87889    109       Non-Fatal  67357
Aircraft.damage        85695      4     Substantial  64148
Aircraft.Category      32287     15        Airplane  27617
Registration.Number    87507  79104            NONE    344
Make                   88826   8237          Cessna  22227
Model                  88797  12315             152   2367
Amateur.Built          88787      2              No  80312
Engine.Type            81793     12   Reciprocating  69530
FAR.Description        32023     31              91  18221
Schedule               12582      3            NSCH   4474
Purpose.of.flight      82697     26        Personal  49448
Air.carrier            16648  13590           Pilot    258
Weather.Condition      84397      4             VMC  77303
Broad.phase.of.flight  61724     12         Landing  15428
Report.Status          82505  17074  Probable Cause  61754
Publication.Date       75118   2924      25-09-2020  17019

In [6]:
# Statistical summary for numerical dataset
aviation_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Number.of.Engines,82805.0,1.146585,0.446510,0.0,1.0,1.0,1.0,8.0
Total.Fatal.Injuries,77488.0,0.647855,5.485960,0.0,0.0,0.0,0.0,349.0
Total.Serious.Injuries,76379.0,0.279881,1.544084,0.0,0.0,0.0,0.0,161.0
Total.Minor.Injuries,76956.0,0.357061,2.235625,0.0,0.0,0.0,0.0,380.0
Total.Uninjured,82977.0,5.325440,27.913634,0.0,0.0,1.0,2.0,699.0

In [7]:
aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [8]:
# Inspect the columns
aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [9]:
# Replace "." with "-" and convert column names to lowercase in one line
aviation_data.columns = [col.replace('.', '-').lower() for col in aviation_data.columns]
aviation_data.head(2)

,event-id,investigation-type,accident-number,event-date,location,country,latitude,longitude,airport-code,airport-name,injury-severity,aircraft-damage,aircraft-category,registration-number,make,model,amateur-built,number-of-engines,engine-type,far-description,schedule,purpose-of-flight,air-carrier,total-fatal-injuries,total-serious-injuries,total-minor-injuries,total-uninjured,weather-condition,broad-phase-of-flight,report-status,publication-date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,Fatal(2),Destroyed,NaN,NC6404,Stinson,108-3,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,Fatal(4),Destroyed,NaN,N5069P,Piper,PA24-180,No,1.0,Reciprocating,NaN,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996

### Load the Us Codes

In [10]:
# Loading the us states code they will be used in visualizing the location
state_codes = pd.read_csv(r"C:\Users\Damaris\Desktop\USState_Codes.csv", encoding="latin1", low_memory=False)

In [11]:
# Shows the first 5 and last 5
print("The first five",state_codes.head())
print("The last five",state_codes.tail())

The first five      US_State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
The last five           US_State Abbreviation
57  Virgin Islands           VI
58   Washington_DC           DC
59  Gulf of mexico           GM
60  Atlantic ocean           AO
61   Pacific ocean           PO

In [12]:
# Inspecting the sstate_codes dataset
print(state_codes.info())
print(f"This Dataset has {state_codes.shape[0]}  rows and {state_codes.shape[1]} columns")
state_codes.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   US_State      62 non-null     object
 1   Abbreviation  62 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB
None
This Dataset has 62  rows and 2 columns

             count unique      top freq
US_State        62     62  Alabama    1
Abbreviation    62     62       AL    1

In [13]:
# save the states codes and make a copy

### Data cleaning and Checkig for Missing Values

In [14]:
# check for duplicates
print(f"We have {aviation_data.duplicated().sum()} duplicates in this dataset")

We have 0 duplicates in this dataset

In [15]:
# Make a copy before uttering the data
aviation_data_uncleaned = aviation_data.copy()

In [16]:
# Check for missing values

aviation_data.isna().sum()

event-id                      0
investigation-type            0
accident-number               0
event-date                    0
location                     52
country                     226
latitude                  54507
longitude                 54516
airport-code              38757
airport-name              36185
injury-severity            1000
aircraft-damage            3194
aircraft-category         56602
registration-number        1382
make                         63
model                        92
amateur-built               102
number-of-engines          6084
engine-type                7096
far-description           56866
schedule                  76307
purpose-of-flight          6192
air-carrier               72241
total-fatal-injuries      11401
total-serious-injuries    12510
total-minor-injuries      11933
total-uninjured            5912
weather-condition          4492
broad-phase-of-flight     27165
report-status              6384
publication-date          13771
dtype: int64

The above shows that there are a lot of missing data and some columns have more than half of the rows with missing data.

#### Percentage of Null values

In [17]:
# Calculate null percentage
null_percentage = [(col, (aviation_data[col].isna().sum() / len (aviation_data)) * 100) for col in aviation_data.columns]
# create a Dataframe from the null_percentageabs
null_percentages_df = pd.DataFrame(null_percentage, columns = ["Column", "Null_Percentage"])
# Sort in a descending order  
null_percentages_df = null_percentages_df.sort_values(by="Null_Percentage", ascending = False)
# print the sorted dataframe
null_percentages_df

                    Column  Null_Percentage
20                schedule        85.845268
22             air-carrier        81.271023
19         far-description        63.974170
12       aircraft-category        63.677170
7                longitude        61.330423
6                 latitude        61.320298
8             airport-code        43.601570
9             airport-name        40.708074
28   broad-phase-of-flight        30.560587
30        publication-date        15.492356
24  total-serious-injuries        14.073732
25    total-minor-injuries        13.424608
23    total-fatal-injuries        12.826109
18             engine-type         7.982990
29           report-status         7.181991
21       purpose-of-flight         6.965991
17       number-of-engines         6.844491
26         total-uninjured         6.650992
27       weather-condition         5.053494
11         aircraft-damage         3.593246
13     registration-number         1.554748
10         injury-severity         1.124999
5                  country         0.254250
16           amateur-built         0.114750
15                   model         0.103500
14                    make         0.070875
4                 location         0.058500
2          accident-number         0.000000
1       investigation-type         0.000000
0                 event-id         0.000000
3               event-date         0.000000

I have chosen to eliminate columns with null values exceeding 35% to ensure the reliability of my results.

#### Dropping Columns with Null_Percentages above 35%

In [18]:
# Filter columns to drop with null percentage of above 35%
columns_to_drop = null_percentages_df[null_percentages_df["Null_Percentage"] > 35]["Column"]
aviation_data_df = aviation_data.drop(columns=columns_to_drop)

# Display the cleaned DataFrame and the columns dropped
print("Columns dropped:", columns_to_drop.tolist())
print("Cleaned Dataframe shape:", aviation_data_df.shape)
aviation_data_df.head(3)

Columns dropped: ['schedule', 'air-carrier', 'far-description', 'aircraft-category', 'longitude', 'latitude', 'airport-code', 'airport-name']
Cleaned Dataframe shape: (88889, 23)

,event-id,investigation-type,accident-number,event-date,location,country,injury-severity,aircraft-damage,registration-number,make,model,amateur-built,number-of-engines,engine-type,purpose-of-flight,total-fatal-injuries,total-serious-injuries,total-minor-injuries,total-uninjured,weather-condition,broad-phase-of-flight,report-status,publication-date
0,20001218X45444,Accident,SEA87LA080,10/24/1948,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NC6404,Stinson,108-3,No,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,7/19/1962,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,N5069P,Piper,PA24-180,No,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,8/30/1974,"Saltville, VA",United States,Fatal(3),Destroyed,N5142R,Cessna,172M,No,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

I have identified certain columns in my dataset that do not contribute to my analysis, and I have opted to exclude them.

#### Handling the irrelevant columns in my dataset

In [27]:
# Columns that I feel will not impact my analysis in any way
irrelavant_columns = [
    "event-id", 
    "accident-number", 
    "publication-date", 
    "report-status", 
    "registration-number", 
]
# Dropping the irrelevant columns
aviation_data_df_updated = aviation_data_df.drop(columns=irrelavant_columns)
# Displaying the shape of the updated DataFrame
aviation_data_df_updated.shape

(88889, 18)

#### Handling missing values

In [ ]:
# making a copy of this dataframe so far 
aviation_data_df1 = aviation_data_df_updated.copy()

In [28]:
# Identify columns with fewer null values
columns_with_less_null = ["location", "make", "model", "amateur-built", "country"]

# Drop the rows with null values in specified columns
aviation_data_df2 = aviation_data_df_updated.dropna(subset=columns_with_less_null)

In [29]:
# check for null 
aviation_data_df2.isna().sum()

investigation-type            0
event-date                    0
location                      0
country                       0
injury-severity             979
aircraft-damage            3134
make                          0
model                         0
amateur-built                 0
number-of-engines          5913
engine-type                6940
purpose-of-flight          6060
total-fatal-injuries      11299
total-serious-injuries    12378
total-minor-injuries      11797
total-uninjured            5813
weather-condition          4375
broad-phase-of-flight     26970
dtype: int64

In [22]:
 #While exploring the dataframe, I realised United States is overrepresented in Country column
# more than 90% of the Country column is the United States. As I wanted to focus on the US aviation accidents
# I create a new dataframe df_us to focus on the United States
#df_clean['Country'].value_counts()

Index(['event-id', 'investigation-type', 'accident-number', 'event-date',
       'location', 'country', 'injury-severity', 'aircraft-damage',
       'registration-number', 'make', 'model', 'amateur-built',
       'number-of-engines', 'engine-type', 'purpose-of-flight',
       'total-fatal-injuries', 'total-serious-injuries',
       'total-minor-injuries', 'total-uninjured', 'weather-condition',
       'broad-phase-of-flight', 'report-status', 'publication-date'],
      dtype='object')